* {
    box-sizing: border-box;
}

header ul {
    width: 100%;  /* Use 100% for width to make it responsive */
}

body {
    display:flex;
    flex-direction:column;
    max-width: 100%;
}



main {
    display: flex;
    flex: auto;
    flex-direction: row;
}

article {
    flex: 2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}