header {
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    border: 2px solid black;

}

header ul {
    width: 100%;  /* Use 100% for width to make it responsive */
}

* {
    box-sizing: border-box;
}

footer {
    border: 2px solid black;
}

li {
    color:floralwhite;
}

body {

    display:flex;
    flex-direction:column;
    max-width: 100%;
}

main {
    display: flex;
    flex: auto;
    flex-direction: row;
    border: 2px solid black;

}

article {
    flex: 2;
    overflow-y: auto;
    background-color: pink;
}

aside {
    flex: 1;
    overflow-y: auto;
}